# Shopee Training Environment Variables
# Add any secrets or configurations here
MODEL_PATH=./outputs/churn_model_shopee.pkl
DATA_PATH=./archive (1)/
# DB_URL=postgresql://user:password@localhost:5432/dbname
